#login-form {
    width: 22rem;
}
.btn-block {
    cursor: pointer;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}
.btn-block:hover {
    background-color: #0c56d0;
    border-color: #0e52c1;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
}